.DS_Store
node_modules
._jdk8u232-b09
jdk8u232-b09
android_sdk
dist
**/node_modules
**/dist
lerna-debug.log

# secret or sensitive files
*.keystore
CLAUDE.md

# projects
threejs-portal-effect/
threejs-portal-effect_meta/
